{% extends 'base.html'%}

    
    {% block titulo %}
        INICIO
    {% endblock %}
    
    {% block contenido %}

      <div class="p-5 bg-light">
          <div class="container">
              <h1 class="display-3">BIBLIOTECA</h1>
              <p class="lead">Bienvenidos</p>
              <hr class="my-2">
              <p>Mas informacion ... </p>
              <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Ingresar</a>
              </p>
          </div>
      </div>
    {% endblock %}