{% extends 'base.html' %}

{% block titulo %}
    Ejemplares
{% endblock %}

{% block contenido %}
    <table class="table">
        <thead>
            <tr class="table-light">
                <th scope="col">ID</th>
                <th scope="col">Libro</th>
                <th scope="col">Localizacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}